<div class="row mt-3 mx-2">
    <div class="row" *ngIf="!isAdmin">
        <div class="col-4 table-css">
        </div>
        <div class="col-4 table-css">
            <div class="login-form bg-light mt-3 p-4">
                <h4 class="text-center">User Info</h4>
                <div class="row">
                    <div class="col text-center">
                        <h4>Name:</h4>
                    </div>
                    <div class="col text-center">
                        <h4>{{user.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h4>Lastname:</h4>
                    </div>
                    <div class="col text-center">
                        <h4>{{user.lastName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h4>Role:</h4>
                    </div>
                    <div class="col text-center">
                        <h4>{{user.role}}</h4>
                    </div>
                </div>
            </div>
            <div class="row p-4 my-2">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <button class="btn btn-outline-dark" (click)="createNewCard()">
                        <span class="align-bottom d-flex">
                          <i class="fas fa-credit-card fa-2x mt-3 mx-2"></i>
                          <span class="my-1 mx-1">Create Payment Card</span>
                        </span>
                    </button>
                </div>
                <div class="col-4">
                </div>
            </div>
            <div class="bg-light">
                <form #pf="ngForm" id="pf" class="row g-3">
                    <h4 class="text-center">New Credit Card Info</h4>
                    <div class="col-12 px-5">
                        <label>Card Number</label>
                        <input type="text" name="cardNumber" id="cardNumber" class="form-control" ngModel placeholder="xxxx-xxxx-xxxx-xxxx" readonly>
                    </div>
                    <div class="col-12 px-5">
                        <label>Card Holder Name</label>
                        <input type="text" name="cardHolderName" id="cardHolderName" class="form-control" ngModel placeholder="John" readonly>
                    </div>
                    <div class="col-12 px-5">
                        <label>Card Holder Lastname</label>
                        <input type="text" name="cardHolderLastName" id="cardHolderLastName" class="form-control" ngModel placeholder="Doe" readonly>
                    </div>
                    <div class="col-12 px-5">
                        <label>Card Security Code (CCV)</label>
                        <input type="text" name="cardSecurityCode" id="cardSecurityCode" class="form-control" ngModel placeholder="yyy" readonly>
                    </div>
                    <div class="col-12 px-5 mb-3">
                        <label>Expiring Date</label>
                        <input type="datetime" name="expiringDate" id="expiringDate" class="form-control" ngModel placeholder="dd.MM.yyyy." readonly>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4 table-css">
        
        </div>
    </div>
</div>